* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

/* 컴포넌트 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.result {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 보드 */
.board {
  width: 100%;
  max-width: 360px;
  margin-bottom: 24px;
}
.board .board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.board .board-word {
  font-size: 40px;
  height: 56px;
  font-weight: 700;
  text-align: center;
}

/* 결과 */
.result p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 22px;
}
.result h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* 인풋 */
.input {
  width: 100%;
  max-width: 360px;
  padding: 14px 20px;
  border-radius: 16px;
  border: 1px solid #4fabf9;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

/* 버튼 */
.button {
  width: 200px;
  padding: 14px 20px;
  border-radius: 16px;
  background-color: #4fabf9;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.restart-button {
  width: 200px;
  padding: 14px 20px;
  border-radius: 16px;
  background-color: #4fabf9;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* 로딩 */
.loading-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
}
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
